/* CSS to accompany index.html */
body {
    margin: 0;
    background: #26272b;
}

.console * {
    font-family: monospace;
}

.console {
    /* width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background: #26272b; */
    color: #00ff8c; 
    /* color: #c97ef2; */
}

.console-main{
    color: #00ff8c;
    /* color: #9c94a1; */
    flex-grow: 1;
    box-sizing: border-box;
    padding: 24px;
    overflow-y: auto;
}

.console-input {
    color: #00ff8c;
    /* flex-shrink: 0; */
    box-sizing: border-box;
    padding: 5px;
    outline: none; 
    border: none;
    border-top: 1px solid #333333;
    background: rgba(255,255, 255, 0.05);

}

.console-user-input {
    color: #00ff8c; 
    background: rgba(255,255, 255, 0.03);
    font-size: 17px;
}

.console-user-clicked {
    color: #00ff8c; 
    background: rgba(255,255, 255, 0.03);
}

.side-by-side {
    align-items: left;
    justify-content: left;
    grid-template-columns: 1fr, 1fr, 1fr;
    column-gap: 5px;
    display: flex;

    
}

.image {
    float: left;
    padding-left: 20px;
}

.text {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20.5px;
}

#credits {
    color: #00ffea;
    font-size: 12px;

}

#me {
    padding-left: 15px
}

.group {
    float: right;
    padding-right: 50px
}

.text-pad {
    padding-left: 45px;
    padding-right: 100px;
}

